@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Redefinir senha";
}

<h3>@ViewData["Title"]</h3>
<p>
    Enviamos um link para seu e-mail. Acesse sua caixa postal e clique no link enviado
</p>

