@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Senha Atualizada";
}

<h2>@ViewData["Title"]</h2>
<p>
    Sua senha foi alterada.  <a asp-page="./Login">Clique aqui para login</a>.
</p>
